<a href="https://colab.research.google.com/github/cmscleberson/dataMining/blob/main/C%C3%B3pia_de_01ColetaDados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [295]:
from unicodedata import normalize

In [296]:
import pandas as pd

In [297]:
pd.options.mode.chained_assignment = None

#### Leitura dos Datasets

In [324]:
df_munic = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/datasets_v1/municipios.csv", encoding='utf-8', sep=',', index_col=[0])

In [325]:
df_covid = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/datasets_v1/covid.csv", encoding='utf-8', sep=';', index_col=False)

In [326]:
df_medicos = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/datasets_v1/medicos.csv", encoding='utf-8', index_col=False)

In [327]:
df_pibsemesorreg = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/datasets_v1/pibemesor.csv", encoding='latin1', sep=';',  index_col=False)

In [328]:
df_respirad = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/datasets_v1/respiradores.csv", encoding='utf-8', sep=',', index_col=False)

In [329]:
df_munic

     estado                municipio       lat     long
0        RO    Alta Floresta D'Oeste -11.92830 -61.9953
1        RO  Alto Alegre dos Parecis -12.13200 -61.8350
2        RO             Alto Paraíso  -9.71429 -63.3188
3        RO         Alvorada D'Oeste -11.34630 -62.2847
4        RO                Ariquemes  -9.90571 -63.0325
...     ...                      ...       ...      ...
5565     GO               Vianópolis -16.74050 -48.5159
5566     GO           Vicentinópolis -17.73220 -49.8047
5567     GO                 Vila Boa -15.03870 -47.0520
5568     GO            Vila Propício -15.45420 -48.8819
5569     DF                 Brasília -15.77950 -47.9297

[5570 rows x 4 columns]

##### Eliminação de Acentos

In [330]:
df_munic['municipio'] = df_munic['municipio'].str.normalize('NFKD').str.encode('ASCII', errors='ignore').str.decode('ASCII')

##### Eliminação de Caracteres Especiais

In [331]:
df_munic['municipio'] = df_munic['municipio'].str.replace('[-,_]',' ')
df_munic['municipio'] = df_munic['municipio'].str.replace("'",' ')

##### Conversão Para Minúsculas

In [332]:
df_munic['municipio'] = df_munic['municipio'].str.lower()

In [333]:
df_munic

     estado                municipio       lat     long
0        RO    alta floresta d oeste -11.92830 -61.9953
1        RO  alto alegre dos parecis -12.13200 -61.8350
2        RO             alto paraiso  -9.71429 -63.3188
3        RO         alvorada d oeste -11.34630 -62.2847
4        RO                ariquemes  -9.90571 -63.0325
...     ...                      ...       ...      ...
5565     GO               vianopolis -16.74050 -48.5159
5566     GO           vicentinopolis -17.73220 -49.8047
5567     GO                 vila boa -15.03870 -47.0520
5568     GO            vila propicio -15.45420 -48.8819
5569     DF                 brasilia -15.77950 -47.9297

[5570 rows x 4 columns]

In [334]:
df_covid

        estado                  municipio        data  casos  obitos
0           RO      Alta Floresta D'Oeste  27/03/2020      0       0
1           RO      Alta Floresta D'Oeste  28/03/2020      0       0
2           RO      Alta Floresta D'Oeste  29/03/2020      0       0
3           RO      Alta Floresta D'Oeste  30/03/2020      0       0
4           RO      Alta Floresta D'Oeste  31/03/2020      0       0
...        ...                        ...         ...    ...     ...
1040626     PR  Santo Antônio do Sudoeste  23/10/2020      1       0
1040627     PR  Santo Antônio do Sudoeste  24/10/2020      1       0
1040628     PR  Santo Antônio do Sudoeste  25/10/2020      0       0
1040629     PR  Santo Antônio do Sudoeste  26/10/2020      0       0
1040630     PR  Santo Antônio do Sudoeste  27/10/2020      0       0

[1040631 rows x 5 columns]

In [335]:
df_covid['municipio'] =df_covid['municipio'].str.normalize('NFKD').str.encode('ASCII', errors='ignore').str.decode('ASCII')
df_covid['municipio'] = df_covid['municipio'].str.replace('[-,_]',' ')
df_covid['municipio'] = df_covid['municipio'].str.replace("'",' ')
df_covid['municipio'] = df_covid['municipio'].str.lower()

In [336]:
df_covid

        estado                  municipio        data  casos  obitos
0           RO      alta floresta d oeste  27/03/2020      0       0
1           RO      alta floresta d oeste  28/03/2020      0       0
2           RO      alta floresta d oeste  29/03/2020      0       0
3           RO      alta floresta d oeste  30/03/2020      0       0
4           RO      alta floresta d oeste  31/03/2020      0       0
...        ...                        ...         ...    ...     ...
1040626     PR  santo antonio do sudoeste  23/10/2020      1       0
1040627     PR  santo antonio do sudoeste  24/10/2020      1       0
1040628     PR  santo antonio do sudoeste  25/10/2020      0       0
1040629     PR  santo antonio do sudoeste  26/10/2020      0       0
1040630     PR  santo antonio do sudoeste  27/10/2020      0       0

[1040631 rows x 5 columns]

##### Concatenando Dois Datasets

In [339]:
df_covid = pd.merge(df_covid, df_munic, on='municipio', how='right')

In [340]:
df_covid

        estado_x              municipio        data  ...  estado_y      lat     long
0             RO  alta floresta d oeste  27/03/2020  ...        RO -11.9283 -61.9953
1             RO  alta floresta d oeste  28/03/2020  ...        RO -11.9283 -61.9953
2             RO  alta floresta d oeste  29/03/2020  ...        RO -11.9283 -61.9953
3             RO  alta floresta d oeste  30/03/2020  ...        RO -11.9283 -61.9953
4             RO  alta floresta d oeste  31/03/2020  ...        RO -11.9283 -61.9953
...          ...                    ...         ...  ...       ...      ...      ...
1163852      NaN             vianopolis         NaN  ...        GO -16.7405 -48.5159
1163853      NaN         vicentinopolis         NaN  ...        GO -17.7322 -49.8047
1163854      NaN               vila boa         NaN  ...        GO -15.0387 -47.0520
1163855      NaN          vila propicio         NaN  ...        GO -15.4542 -48.8819
1163856      NaN               brasilia         NaN  ...        DF -15.7795 -47.9297

[1163857 rows x 8 columns]

##### Análise da Concatenção (não podem existir coordenadas nulas)

In [341]:
df_cont = df_covid[df_covid['lat'].isna()]

In [342]:
df_cont

Empty DataFrame
Columns: [estado_x, municipio, data, casos, obitos, estado_y, lat, long]
Index: []

In [243]:
df_nulos = df_covid[df_covid['estado_x'].isna()]

In [244]:
df_nulos

        estado_x                      municipio  ...       lat     long
113216       NaN           fortaleza do tabocao  ...  -9.05611 -48.5206
334525       NaN  augusto severo (campo grande)  ...  -5.86206 -37.3135
348190       NaN     januario cicco (boa saude)  ...  -6.16566 -35.6219
506303       NaN                    sao caetano  ...  -8.33763 -36.2869
629768       NaN        muquem de sao francisco  ... -12.06500 -43.5497
...          ...                            ...  ...       ...      ...
1163852      NaN                     vianopolis  ... -16.74050 -48.5159
1163853      NaN                 vicentinopolis  ... -17.73220 -49.8047
1163854      NaN                       vila boa  ... -15.03870 -47.0520
1163855      NaN                  vila propicio  ... -15.45420 -48.8819
1163856      NaN                       brasilia  ... -15.77950 -47.9297

[1226 rows x 8 columns]

In [245]:
df_covid

        estado_x              municipio        data  ...  estado_y      lat     long
0             RO  alta floresta d oeste  27/03/2020  ...        RO -11.9283 -61.9953
1             RO  alta floresta d oeste  28/03/2020  ...        RO -11.9283 -61.9953
2             RO  alta floresta d oeste  29/03/2020  ...        RO -11.9283 -61.9953
3             RO  alta floresta d oeste  30/03/2020  ...        RO -11.9283 -61.9953
4             RO  alta floresta d oeste  31/03/2020  ...        RO -11.9283 -61.9953
...          ...                    ...         ...  ...       ...      ...      ...
1163852      NaN             vianopolis         NaN  ...        GO -16.7405 -48.5159
1163853      NaN         vicentinopolis         NaN  ...        GO -17.7322 -49.8047
1163854      NaN               vila boa         NaN  ...        GO -15.0387 -47.0520
1163855      NaN          vila propicio         NaN  ...        GO -15.4542 -48.8819
1163856      NaN               brasilia         NaN  ...        DF -15.7795 -47.9297

[1163857 rows x 8 columns]

##### Eliminação dos Valores Nulos

In [246]:
df_covid.dropna(axis=0, inplace=True)

In [247]:
df_covid.isna().sum()

estado_x     0
municipio    0
data         0
casos        0
obitos       0
estado_y     0
lat          0
long         0
dtype: int64

In [248]:
df_covid

        estado_x                  municipio  ...      lat     long
0             RO      alta floresta d oeste  ... -11.9283 -61.9953
1             RO      alta floresta d oeste  ... -11.9283 -61.9953
2             RO      alta floresta d oeste  ... -11.9283 -61.9953
3             RO      alta floresta d oeste  ... -11.9283 -61.9953
4             RO      alta floresta d oeste  ... -11.9283 -61.9953
...          ...                        ...  ...      ...      ...
1162635       PR  santo antonio do sudoeste  ... -26.0737 -53.7251
1162636       PR  santo antonio do sudoeste  ... -26.0737 -53.7251
1162637       PR  santo antonio do sudoeste  ... -26.0737 -53.7251
1162638       PR  santo antonio do sudoeste  ... -26.0737 -53.7251
1162639       PR  santo antonio do sudoeste  ... -26.0737 -53.7251

[1162631 rows x 8 columns]

##### Padronização dos Nomes das Colunas

In [249]:
df_covid.drop(['estado_y'], axis=1, inplace=True)

In [250]:
df_covid.rename(columns={'estado_x':'estado'}, inplace=True)

##### Alteração de Tipos de Dados

In [251]:
df_covid['casos'] = df_covid['casos'].astype(int)

In [252]:
df_covid['obitos'] = df_covid['obitos'].astype(int)

In [253]:
df_covid

        estado                  municipio        data  ...  obitos      lat     long
0           RO      alta floresta d oeste  27/03/2020  ...       0 -11.9283 -61.9953
1           RO      alta floresta d oeste  28/03/2020  ...       0 -11.9283 -61.9953
2           RO      alta floresta d oeste  29/03/2020  ...       0 -11.9283 -61.9953
3           RO      alta floresta d oeste  30/03/2020  ...       0 -11.9283 -61.9953
4           RO      alta floresta d oeste  31/03/2020  ...       0 -11.9283 -61.9953
...        ...                        ...         ...  ...     ...      ...      ...
1162635     PR  santo antonio do sudoeste  23/10/2020  ...       0 -26.0737 -53.7251
1162636     PR  santo antonio do sudoeste  24/10/2020  ...       0 -26.0737 -53.7251
1162637     PR  santo antonio do sudoeste  25/10/2020  ...       0 -26.0737 -53.7251
1162638     PR  santo antonio do sudoeste  26/10/2020  ...       0 -26.0737 -53.7251
1162639     PR  santo antonio do sudoeste  27/10/2020  ...       0 -26.0737 -53.7251

[1162631 rows x 7 columns]

In [254]:
df_medicos

      OBJECTID  Codigo_Municipio  ... Shape__Length P_Medicos_SUS
0            1           5200050  ...      0.591110    100.000000
1            2           3100104  ...      1.959124    100.000000
2            3           5200100  ...      1.811350    100.000000
3            4           3100203  ...      2.434613     94.117647
4            5           1500107  ...      1.829539     91.111111
...        ...               ...  ...           ...           ...
5565      5566           2933604  ...      4.805814    100.000000
5566      5567           2517407  ...      0.444401    100.000000
5567      5568           3557154  ...      0.773112      0.000000
5568      5569           2114007  ...      3.058613    100.000000
5569      5570           4219853  ...      0.907243      0.000000

[5570 rows x 13 columns]

In [259]:
siglas=["AC","AL","AP","AM","BA","CE","DF","ES","GO","MA","MT","MS","MG","PA","PB","PR","PE","PI","RJ","RN","RS","RO","RR","SC","SP","SE","TO"]

In [260]:
nomesEstados = ["Acre","Alagoas","Amapá","Amazonas","Bahia","Ceará","Distrito Federal","Espírito Santo","Goiás","Maranhão","Mato Grosso","Mato Grosso do Sul","Minas Gerais","Pará","Paraíba","Paraná","Pernambuco","Piauí","Rio de Janeiro","Rio Grande do Norte","Rio Grande do Sul","Rondônia","Roraima","Santa Catarina","São Paulo","Sergipe","Tocantins"]

In [261]:
lista = []

In [262]:
for i in df_medicos['Nome_Estado'].values:
  for j in range(len(nomesEstados)):
    if i == nomesEstados[j]:
      lista.append(siglas[j])

In [263]:
df_medicos['estado'] = [i for i in lista]

In [264]:
df_medicos.rename(columns={'Nome_municipio':'municipio','Medicos_100mil_hab_Ind':'medicosCemMil'},inplace=True)

In [265]:
df_medicos = df_medicos[['municipio','medicosCemMil','estado']]

In [266]:
df_medicos

                municipio  medicosCemMil estado
0         Abadia de Goiás     182.377750     GO
1     Abadia dos Dourados     200.314780     MG
2               Abadiânia      79.832352     GO
3                  Abaeté     219.477557     MG
4              Abaetetuba      57.071111     PA
...                   ...            ...    ...
5565          Xique-Xique      25.815890     BA
5566               Zabelê      44.642857     PB
5567             Zacarias       0.000000     SP
5568              Zé Doca      25.138260     MA
5569               Zortéa       0.000000     SC

[5570 rows x 3 columns]

In [267]:
df_medicos['municipio'] = df_medicos['municipio'].str.normalize('NFKD').str.encode('ASCII', errors='ignore').str.decode('ASCII')
df_medicos['municipio'] = df_medicos['municipio'].str.replace('[-,_]',' ')
df_medicos['municipio'] = df_medicos['municipio'].str.replace("'",' ')
df_medicos['municipio'] = df_medicos['municipio'].str.lower()

In [268]:
df_medicos

                municipio  medicosCemMil estado
0         abadia de goias     182.377750     GO
1     abadia dos dourados     200.314780     MG
2               abadiania      79.832352     GO
3                  abaete     219.477557     MG
4              abaetetuba      57.071111     PA
...                   ...            ...    ...
5565          xique xique      25.815890     BA
5566               zabele      44.642857     PB
5567             zacarias       0.000000     SP
5568              ze doca      25.138260     MA
5569               zortea       0.000000     SC

[5570 rows x 3 columns]

In [269]:
df_covid = pd.merge(df_covid, df_medicos,on='municipio', how='right')

In [270]:
df_covid

        estado_x            municipio  ... medicosCemMil  estado_y
0            NaN      abadia de goias  ...     182.37775        GO
1             MG  abadia dos dourados  ...     200.31478        MG
2             MG  abadia dos dourados  ...     200.31478        MG
3             MG  abadia dos dourados  ...     200.31478        MG
4             MG  abadia dos dourados  ...     200.31478        MG
...          ...                  ...  ...           ...       ...
1496180       MA              ze doca  ...      25.13826        MA
1496181       MA              ze doca  ...      25.13826        MA
1496182       MA              ze doca  ...      25.13826        MA
1496183       MA              ze doca  ...      25.13826        MA
1496184      NaN               zortea  ...       0.00000        SC

[1496185 rows x 9 columns]

In [271]:
df_cov = df_covid[df_covid['medicosCemMil'].isna()]

In [272]:
df_cov.sum()

estado_x         0.0
municipio        0.0
data             0.0
casos            0.0
obitos           0.0
lat              0.0
long             0.0
medicosCemMil    0.0
estado_y         0.0
dtype: float64

In [273]:
df_covid.dropna(inplace=True)

In [274]:
df_covid.isna().sum()

estado_x         0
municipio        0
data             0
casos            0
obitos           0
lat              0
long             0
medicosCemMil    0
estado_y         0
dtype: int64

In [275]:
df_covid

        estado_x            municipio  ... medicosCemMil  estado_y
1             MG  abadia dos dourados  ...     200.31478        MG
2             MG  abadia dos dourados  ...     200.31478        MG
3             MG  abadia dos dourados  ...     200.31478        MG
4             MG  abadia dos dourados  ...     200.31478        MG
5             MG  abadia dos dourados  ...     200.31478        MG
...          ...                  ...  ...           ...       ...
1496179       MA              ze doca  ...      25.13826        MA
1496180       MA              ze doca  ...      25.13826        MA
1496181       MA              ze doca  ...      25.13826        MA
1496182       MA              ze doca  ...      25.13826        MA
1496183       MA              ze doca  ...      25.13826        MA

[1494959 rows x 9 columns]

In [276]:
df_covid.drop('estado_y', axis=1, inplace=True)

In [277]:
df_covid.rename(columns={'estado_x':'estado'}, inplace=True)

In [278]:
df_covid['casos'] = df_covid['casos'].astype(int)

In [279]:
df_covid['obitos'] = df_covid['obitos'].astype(int)

In [280]:
df_covid

        estado            municipio  ...     long  medicosCemMil
1           MG  abadia dos dourados  ... -47.3916      200.31478
2           MG  abadia dos dourados  ... -47.3916      200.31478
3           MG  abadia dos dourados  ... -47.3916      200.31478
4           MG  abadia dos dourados  ... -47.3916      200.31478
5           MG  abadia dos dourados  ... -47.3916      200.31478
...        ...                  ...  ...      ...            ...
1496179     MA              ze doca  ... -45.6553       25.13826
1496180     MA              ze doca  ... -45.6553       25.13826
1496181     MA              ze doca  ... -45.6553       25.13826
1496182     MA              ze doca  ... -45.6553       25.13826
1496183     MA              ze doca  ... -45.6553       25.13826

[1494959 rows x 8 columns]

In [281]:
df_pibsemesorreg

       ord    regiaopais  ...        mesorregiao       pib
0        1         Norte  ...  Leste Rondoniense  19611,75
1        2         Norte  ...  Leste Rondoniense  21389,67
2        3         Norte  ...  Leste Rondoniense   22315,8
3        4         Norte  ...  Leste Rondoniense  24037,91
4        5         Norte  ...  Leste Rondoniense  25009,71
...    ...           ...  ...                ...       ...
5565  5566  Centro-oeste  ...         Sul Goiano  28942,36
5566  5567  Centro-oeste  ...         Sul Goiano  41772,71
5567  5568  Centro-oeste  ...       Leste Goiano  23992,38
5568  5569  Centro-oeste  ...       Leste Goiano  32016,61
5569  5570  Centro-oeste  ...   Distrito Federal  80502,47

[5570 rows x 6 columns]

In [282]:
df_pibsemesorreg.drop('ord', axis =1,inplace=True)

In [286]:
df_pibsemesorreg['municipio'] = df_pibsemesorreg['municipio'].str.normalize('NFKD').str.encode('ASCII', errors='ignore').str.decode('ASCII')
df_pibsemesorreg['municipio'] = df_pibsemesorreg['municipio'].str.replace('[-,_]',' ')
df_pibsemesorreg['municipio'] = df_pibsemesorreg['municipio'].str.replace("'",' ')
df_pibsemesorreg['municipio'] = df_pibsemesorreg['municipio'].str.lower()

In [287]:
df_pibsemesorreg

        regiaopais estado              municipio        mesorregiao       pib
0            Norte     RO  alta floresta d oeste  Leste Rondoniense  19611,75
1            Norte     RO              ariquemes  Leste Rondoniense  21389,67
2            Norte     RO                 cabixi  Leste Rondoniense   22315,8
3            Norte     RO                 cacoal  Leste Rondoniense  24037,91
4            Norte     RO             cerejeiras  Leste Rondoniense  25009,71
...            ...    ...                    ...                ...       ...
5565  Centro-oeste     GO             vianopolis         Sul Goiano  28942,36
5566  Centro-oeste     GO         vicentinopolis         Sul Goiano  41772,71
5567  Centro-oeste     GO               vila boa       Leste Goiano  23992,38
5568  Centro-oeste     GO          vila propicio       Leste Goiano  32016,61
5569  Centro-oeste     DF               brasilia   Distrito Federal  80502,47

[5570 rows x 5 columns]

In [288]:
df_teste = pd.concat([df_covid, df_pibsemesorreg]).drop_duplicates().reset_index(drop=True)

In [289]:
df_teste

        estado            municipio  ...       mesorregiao       pib
0           MG  abadia dos dourados  ...               NaN       NaN
1           MG  abadia dos dourados  ...               NaN       NaN
2           MG  abadia dos dourados  ...               NaN       NaN
3           MG  abadia dos dourados  ...               NaN       NaN
4           MG  abadia dos dourados  ...               NaN       NaN
...        ...                  ...  ...               ...       ...
1500524     GO           vianopolis  ...        Sul Goiano  28942,36
1500525     GO       vicentinopolis  ...        Sul Goiano  41772,71
1500526     GO             vila boa  ...      Leste Goiano  23992,38
1500527     GO        vila propicio  ...      Leste Goiano  32016,61
1500528     DF             brasilia  ...  Distrito Federal  80502,47

[1500529 rows x 11 columns]

In [290]:
df01 = df_teste[df_teste['municipio'] == 'brasilia']

In [291]:
df01

        estado municipio data  ...    regiaopais       mesorregiao       pib
1500528     DF  brasilia  NaN  ...  Centro-oeste  Distrito Federal  80502,47

[1 rows x 11 columns]

In [220]:
df_covid = pd.merge(df_covid, df_pibsemesorreg,on='municipio', how='right')

In [221]:
df_covid

        estado_x              municipio  ...        mesorregiao       pib
0             RO  alta floresta d oeste  ...  Leste Rondoniense  19611,75
1             RO  alta floresta d oeste  ...  Leste Rondoniense  19611,75
2             RO  alta floresta d oeste  ...  Leste Rondoniense  19611,75
3             RO  alta floresta d oeste  ...  Leste Rondoniense  19611,75
4             RO  alta floresta d oeste  ...  Leste Rondoniense  19611,75
...          ...                    ...  ...                ...       ...
2465348      NaN             vianopolis  ...         Sul Goiano  28942,36
2465349      NaN         vicentinopolis  ...         Sul Goiano  41772,71
2465350      NaN               vila boa  ...       Leste Goiano  23992,38
2465351      NaN          vila propicio  ...       Leste Goiano  32016,61
2465352      NaN               brasilia  ...   Distrito Federal  80502,47

[2465353 rows x 12 columns]

In [222]:
df_covid.isna().sum()

estado_x         1226
municipio           0
data             1226
casos            1226
obitos           1226
lat              1226
long             1226
medicosCemMil    1226
regiaopais          0
estado_y            0
mesorregiao         0
pib                 0
dtype: int64

In [223]:
df_covid.dropna(inplace=True)

In [224]:
df_covid

        estado_x                  municipio  ...          mesorregiao       pib
0             RO      alta floresta d oeste  ...    Leste Rondoniense  19611,75
1             RO      alta floresta d oeste  ...    Leste Rondoniense  19611,75
2             RO      alta floresta d oeste  ...    Leste Rondoniense  19611,75
3             RO      alta floresta d oeste  ...    Leste Rondoniense  19611,75
4             RO      alta floresta d oeste  ...    Leste Rondoniense  19611,75
...          ...                        ...  ...                  ...       ...
2464130       PR  santo antonio do sudoeste  ...  Sudoeste Paranaense   25160,4
2464131       PR  santo antonio do sudoeste  ...  Sudoeste Paranaense   25160,4
2464132       PR  santo antonio do sudoeste  ...  Sudoeste Paranaense   25160,4
2464133       PR  santo antonio do sudoeste  ...  Sudoeste Paranaense   25160,4
2464134       PR  santo antonio do sudoeste  ...  Sudoeste Paranaense   25160,4

[2464127 rows x 12 columns]

In [ ]:
df_respirad

      OBJECTID  Codigo_Municipio  ... Shape__Length  P_Respiradores_SUS
0            1           5200050  ...      0.591110                 0.0
1            2           3100104  ...      1.959124                 0.0
2            3           5200100  ...      1.811350                 0.0
3            4           3100203  ...      2.434613               100.0
4            5           1500107  ...      1.829539                90.0
...        ...               ...  ...           ...                 ...
5565      5566           2933604  ...      4.805814               100.0
5566      5567           2517407  ...      0.444401                 0.0
5567      5568           3557154  ...      0.773112                 0.0
5568      5569           2114007  ...      3.058613               100.0
5569      5570           4219853  ...      0.907243                 0.0

[5570 rows x 11 columns]

In [ ]:
df_respirad['Nome_municipio'] = df_respirad['Nome_municipio'].str.normalize('NFKD').str.encode('ASCII', errors='ignore').str.decode('ASCII')
df_respirad['Nome_municipio'] = df_respirad['Nome_municipio'].str.replace('[-,_]',' ')
df_respirad['Nome_municipio'] = df_respirad['Nome_municipio'].str.replace("'",' ')
df_respirad['Nome_municipio'] = df_respirad['Nome_municipio'].str.lower()

In [ ]:
dfnovo[df_covid2']